@model IEnumerable<Emigrace.Models.ArchiveViewModel>

@{
    ViewBag.Title = "Archives list";
}
<div class="container">
    <section class="row">

    </section>
    <section class="row row-table">
        <div class="col-sm-12 col-md-4 search-form">

               
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="result-form">
                <div class="form-btn"id="new-archive">
                    <a href="@Url.Action("Create")" class="btn btn-primary btn-block">Add new archive</a>
                </div>
                <ul id="search-result">
                    @foreach (var item in Model)
                    {
                    <li>
                        <a href="@Url.Action("ShowArchivePage", "Archives", new { id = @item.Id} )" >@item.Name</a>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="table-columns">Adress:</td>
                                    <td>@item.Adress</td>
                                </tr>
                                <tr>
                                    <td class="table-columns">Country:</td>
                                    <td>@item.Country</td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </section>
</div>