@model Emigrace.Models.ArchiveViewModel

@{
    ViewBag.Title = "Archive";
}

<div class="container">
    <section class="row row-name">
        <div class="col-md-12">
            <h2>@Model.Name</h2>
        </div>
    </section>
    <section class="row row-contacts">
        <div class="col-md-12">
            <p>@Model.Adress</p>
            <p>@Model.Country</p>
            <br />
            <h5>
                <b>
                    Telephone:
                </b>
            </h5>
            <p>@Model.Phone</p>
            <br />
            <h5>
                <b>
                    Web-page:
                </b>
            </h5>
            <p>@Model.WebPages</p>
        </div>
    </section>
    <section class="row collections-table">
        <div class="col-md-12">
            <table id="collections" class="numbered-table">
                <caption>Collections</caption>
                <colgroup>
                    <col style="width:10%" />
                    <col style="width:50%" />
                    <col style="width:30%" />
                    <col style="width:30%" />
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">Fond name</th>
                        <th scope="col">Fond number</th>
                        <th scope="col">Time interval</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Fonds)
                    {
                    <tr class="collection-row">
                        <th scope="col">1</th>
                        <th scope="col">
                        @Html.ActionLink(item.FondName, "ShowInventoryList", "Archives",new { @class="ajaxlink"})
                        </th>
                        <th scope="col">@item.FondNumber</th>
                        <th scope="col">@item.TimeInterval</th>
                    </tr>
                    }
                </tbody>
            </table>
           
        </div>

    </section>
</div>


